 {%extends 'base.html'%}

 {% block head%}

 
 
    <div class = "container "   >
         <a class="btn rounded-circle "  style="float: left; margin-top:0% ; margin-left: -4%;" href="/crowdengine/pre?page={{name}}"> <img src={{url_for('static',filename="/icons/caret-left-fill.svg")}} width = 40px height = 40px></a>
        <a class="btn rounded-circle" style="float: right; margin-top:0%; margin-right: -4%;" href= "/crowdengine/next?page={{name}}" > <img src={{url_for('static',filename="/icons/caret-right-fill.svg")}} width=40px height = 40px></a>
          <br><br><br>
  
        <form action='/crowdengine/write' method="POST" >
            <center><legend>{{name}}</legend></center>
            </br>

            <input type="hidden" name="name" value="{{actor}}">

            <input type="hidden" name="movie" value="{{name}}">
            <div class="form-group">
              <label for="Dresscolor">Linkedln-id</label>
              <input type="text" class="form-control" id="Dresscolor"  name="Dresscolor" placeholder="Enter your Linkedln id">
            </div>

            <div class="form-group ">
              <label for="Duration">Notes</label>
              <br>
              <textarea rows="4" cols="50" name="comment" form="usrform">
              </textarea>
              
            </div>
           

            <!-- <div class="form-group">
              <label for="Dresscolor">Dresscolor</label>
              <input type="text" class="form-control" id="Dresscolor"  name="Dresscolor" placeholder="Enter Character Dresscolor">
            </div>

            <div class="form-group">
                <label for="Hairstyle">Hairstyle</label>
                <input type="text" class="form-control" id="Hairstyle"  name= "Hairstyle" placeholder="Enter Character Hairstyle">
            </div>

            <div class="form-group">
                <label for="Role">Role</label>
                <input type="text" class="form-control" id="Role" name="Role" placeholder="Enter Character Role eg:(Hero,comedian,hero brother..)">
            </div>

            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Hit" id="Hit" value="Hit" checked>
                <label class="form-check-label" for="Hit">
                  Hit
                </label>
              </div>
                </br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Hit" id="Flop" value="Flop">
                <label class="form-check-label" for="Flop">
                  Flop
                </label>
              </div> -->
            </br>
            </br>
            <center><button type="submit" class="btn btn-success">Submit</button>
       
            </center>
              
          </form>

   
  
       
      
    </div>

    
    {%endblock%}
