 {%extends 'base.html'%}

 {% block head%}

 
 
    <div class = "container "   >
         <a class="btn rounded-circle "  style="float: left; margin-top:0% ; margin-left: -4%;" href="/crowdengine/pre?page={{name}}"> <img src={{url_for('static',filename="/icons/caret-left-fill.svg")}} width = 40px height = 40px></a>
        <a class="btn rounded-circle" style="float: right; margin-top:0%; margin-right: -4%;" href= "/crowdengine/next?page={{name}}" > <img src={{url_for('static',filename="/icons/caret-right-fill.svg")}} width=40px height = 40px></a>
          <br><br><br>
  
        <!-- <form action='/crowdengine/write/{{name}}' method="POST" > -->
            <center><legend>{{name}}</legend></center>
            <center><legend>{{link}}</legend></center>
            
            </br>

            <input type="hidden" name="name" value="{{actor}}">

            <input type="hidden" name="movie" value="{{name}}">
            
            
            </br>
            </br>
          <!-- </form> -->
          <form action="/submit/{{name}}" method="post" >

              <div class="form-group ">
                <label for="Duration">Notes</label>
                <br>
                
                <textarea class="form-control" name="comment" style="margin: 5px;height: 200px;">{{a}} </textarea>

              </div>    
              
                       
              <center><button type="submit" class="btn btn-success">Submit</button>
       
              </center>                
            </form>
      

              
         

   
  
       
      
    </div>

    
    {%endblock%}
